<div class="card">

  <div class="card-body">
    <div *ngIf="messages?.length==0">
      No messages
    </div>

    <ul class="chat">

      <li *ngFor="let message of messages">
        <div *ngIf="message.senderId==RecipientId">
          <span class="chat-img float-left">
            <img src={{message.senderPhotoUrl}} alt={{message.senderUserName}} class="rounded-circle">
          </span>
          <div class="chat-body">
            <div class="header">
              <strong class="primary-font"> {{message.senderUserName}} </strong>
              <small class="text-muted float-right">
                <span class="fa fa-clock-o"> {{message.dateSend | timeAgo}} </span>
              </small>
            </div>
            <p>{{message.content}}</p>
          </div>
        </div>


        <div *ngIf="message.senderId!=RecipientId">
          <span class="chat-img float-right">
            <img src={{message.senderPhotoUrl}} alt={{message.senderUserName}} class="rounded-circle">
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o"> {{message.dateSend | timeAgo}} </span>
                <span *ngIf="!message.isRead" class="text-danger"> (not read) </span>
                <span *ngIf="message.isRead" class="text-success"> (read: {{message.dateRead  | timeAgo}}) </span>
              </small>
              <strong class="primary-font float-right"> {{message.senderUserName}} </strong>
            </div>
            <p>{{message.content}}</p>
          </div>
        </div>
      </li>


    </ul>

  </div>
  <div class="card">
    <form action="">
      <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Send message">
        <div class="input-group-append">
          <button class="btn- btn-primary">
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>