img.img-thumbnail {
    height: 200px;
    min-width: 200px !important;
    margin-bottom: 5px;
}

button.btn{
    height: 30px;;
}

.nv-file-over{
    border: 2px red;
}

input[type=file]{
    color: transparent;
}