<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ (user?.photoUrl || '../../../../assets/user.png')}}"
          alt="{{ user?.userName }}"
        />
        <div class="card-body">
          <div>
            <strong>Zodiac sign</strong>
            <p>{{ user.zodiacSign }}</p>
          </div>
          <div>
            <strong>Age</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>From</strong>
            <p>{{ user.city }}, {{ user?.country }}</p>
          </div>

          <div>
            <strong>Last active</strong>
            <p>{{ user.lastActive | timeAgo }}</p>
          </div>

          <div>
            <strong>Signed</strong>
            <p>{{ user.created | date}}</p>
          </div>
        </div>

        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-danger w-100" (click)= "like(user.id)">Like</button>
            <button class="btn btn-success w-100" (click)="selectTab(5)">Message</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="user-tabset" #userTabs >
          <tab heading="General">
            <table class="user-table">
              <tr>
                <td class="user-table-td">
                  <h5>Height:</h5>
                  <p>{{ user.growth }}</p>
                </td>
                <td class="user-table-td">
                  <h5>Martial status:</h5>
                  <p>{{ user.martialStatus }}</p>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>Eye color:</h5>
                  <p>{{ user.eyeColor }}</p>
                </td>

                <td>
                  <h5>Education:</h5>
                  <p>{{ user.education }}</p>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>Hair colour:</h5>
                  <p>{{ user.hairColor }}</p>
                </td>

                <td>
                  <h5>Profession:</h5>
                  <p>{{ user.profession }}</p>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>Children:</h5>
                  <p>{{ user.children }}</p>
                </td>

                <td>
                  <h5>Languages:</h5>
                  <p>{{ user.languages }}</p>
                </td>
              </tr>
            </table>
          </tab>
          <tab heading="About me">
            <div class="tab-content">
              <h5>Motto:</h5>
              <p>{{ user.motto }}</p>

              <h5>Description:</h5>
              <p>{{ user.description }}</p>

              <h5>Personality:</h5>
              <p>{{ user.personality }}</p>

              <h5>Looking for:</h5>
              <p>{{ user.lookingFor }}</p>
            </div>
          </tab>
          <tab heading="Hobby">
            <div class="tab-content">
              <h5>Free time:</h5>
              <p>{{ user.freeTime }}</p>

              <h5>Sport:</h5>
              <p>{{ user.sport }}</p>

              <h5>Films:</h5>
              <p>{{ user.movies }}</p>

              <h5>Music:</h5>
              <p>{{ user.music }}</p>
            </div>
          </tab>

          <tab heading="Preferences">
            <div class="tab-content">
              <h5>I like:</h5>
              <p>{{ user.iLike }}</p>

              <h5>I do not like:</h5>
              <p>{{ user.iDoNotLike }}</p>

              <h5>Makes me laugh:</h5>
              <p>{{ user.makesMeLaugh }}</p>

              <h5>I feel best in:</h5>
              <p>{{ user.itFeelsBestIn }}</p>

              <h5>FriendsWouldDescribeMe:</h5>
              <p>{{ user.friendsWouldDescribeMe }}</p>
            </div>
          </tab>

          <tab heading="Photos">
            <div class="tab-content">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
          </tab>
          <tab heading="Messages">
            <div class="tab-content">
              <app-user-messages [RecipientId]= "user.id"></app-user-messages>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
